.container {
    width: 75%;
    min-width: 250px;
    max-width: 800px;
    margin: 60px auto;
}

.article {
    margin: 10px;
}

.article__header {
    text-align: center;
    background-color: rgb(252, 106, 80);
    padding: 5px;
}

.article__header p {
    font-weight: 700;
    font-size: 24pt;
    color: white;
}

.article__content-listImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article__text-images img {
    height: 200px;
}

.article__content {
    background-color: rgb(255, 233, 230);
    padding: 10px;
}

.article__content-text {
    margin: 10px 5px;
}

.article__content-text p {
    font-size: large;
}

.article__content-date {
    margin: 2px;
}

.article__content-date p {
    text-align: right;
}

.article__footer {
    padding: 5px;
    height: 22px;
    background-color: rgb(252, 106, 80);
}

.article__footer p {
    font-weight: 400;
    font-size: 14pt;
    color: white;
    float: right;
}

.comments {
    margin: 10px;
    border: 1px solid black;
}

.comments__header {
    text-align: center;
    padding: 10px;
    background-color: rgb(252, 106, 80);
}

.comments__header p {
    font-size: large;
    font-weight: 700;
}

.comments__content {
    background-color: rgb(255, 233, 230);
}

.comments__content-item {
    display: flex;
}

.comments__content-item p {
    margin: 10px;
}