p {
    margin: 5px 2px;
}

body {
    margin: 40px;
}

.search {
    margin: 60px 0 20px 0;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

.search-button {
    margin: 0 5px;
    width: 60px;
}

.main-item {
    background-color: rgb(255, 233, 230);
    border-radius: 8px;
}

.main-item__header {
    background-color: rgb(252, 106, 80);
    padding: 10px;
    border-radius: 8px;
}

.main-item__header h2 {
    margin: 0;
}

.main-item__content {
    padding: 12px;
    text-align: center;
}

.main-item__footer {
    background-color: rgb(228, 78, 52);
    padding: 5px;
    border-radius: 8px;
}

.main-item__footer p {
    text-align: right;
    margin: 0 3px;
}

.container {
    width: 400px;
    height: 100%;
    min-width: 250px;
    margin: 10px;
}

.cont {
    display: flex;
    background-color: rgb(243, 243, 243);
    flex-wrap: wrap;
}

@media (max-width: 1100px) {
    .cont {
        flex-direction: column;
        align-items: center;
    }
    .container {
        width: 300px;
    }
}