<div class="article-creating">
    <div class="article-creating__header">
        <p>Create Article</p>
    </div>
    <div class="article-creating__content">
        <div class="content__div">
            <label for="header">Header</label>
            <input class="text-input" type="text" name="header" id="header">
        </div>
        <div class="content__div">
            <label for="content">Content</label>
            <textarea class="text-input" name="content" id="content"></textarea>
        </div>
        <div class="content__div">
            <label for="content">Author Name</label>
            <input class="text-input" name="content" id="author">
        </div>

        <div class="content__button">
            <button class="shine-button" (click)="addArticle()">Create Article</button>
        </div>
    </div>

</div>